#!/bin/sh

# A shell wrapper to call sarek in irma with appropriate config files

function sarek {
    if [ -f {{ sarek_dest }}/$1 ]; then
        nextflow run {{ sarek_dest }}/$1 -profile uppmax --project '{{ item.project_id }}'  --containers_path '{{ sarek_containers }}'  ${@:2};
    else
        echo "Please specify some valid script that exist here {{ sarek_dest }}";
    fi;
}
