#!/bin/sh

# A shell wrapper to call sarek in irma with appropriate config files

function sarek {
    if [ -f {{ sarek_dest }}/$1 ]; then
        nextflow run {{ sarek_dest }}/$1 -profile slurm --project '{{ item.project_id }}' --containerPath '{{ sarek_containers }}' --tag '{{ sarek_tag }}' ${@:2};
    else
        echo "Please specify some valid script that exist here {{ sarek_dest }}";
    fi;
}
