process {
  container = '{{ ngi_containers }}/{{ item.0.name }}/nf-core-{{ item.0.name }}-{{ item.0.release }}.simg'
  {% if item.0.name=='methylseq' %}
  memory = { 15.GB * task.attempt }
  time = { 6.h * task.attempt }

  withName:qualimap {
        cpus = { 4 * task.attempt }
        memory = { 62.GB * task.attempt }
        time = { 2.d * task.attempt }
  }
  {% endif %}
}
params {
    {% if item.0.name=='rnaseq' %}
    reverse_stranded = true
    {% endif %}
}
