process {
    container = '{{ methylseq_container_path }}/{{ methylseq_image }}'

    // Default memory is less than we have per cpu
    memory = { 15.GB * task.attempt }
    time = { 6.h * task.attempt }

    withName:multiqc {
        container = null
        executor = 'local'
    }

    // Large projects seem to need more than default
    withName:qualimap {
        cpus = { 8 * task.attempt }
        memory = { 125.GB * task.attempt }
        time = { 18.h * task.attempt }
    }
}
params {
    project = "{{ item.project_id }}"
    multiqc_config = "{{ ngi_pipeline_conf }}/multiqc_{{ item.site }}_config.yml"

    // Irma memory is greater than default rackham
    max_memory = '250.GB'

    // illumina iGenomes reference file paths on UPPMAX
    igenomes_base = "/sw/data/uppnex/igenomes/"

    // Adding GRCh38 from NCBI, all other genomes available from Ensembl
    genomes {
        'GRCh38' {
            bismark = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/BismarkIndex"
            fasta   = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta"
        }
    }
}
