process {
    container = '{{ methylseq_container_path }}/{{ methylseq_image }}'

    // Default memory is less than we have per cpu
    memory = { 15.GB * task.attempt }
    time = { 6.h * task.attempt }

    // Large projects seem to need more than default
    withName:qualimap {
        time = 4.d
    }
}
