
// nodes on Irma are beefier than specified in the default config
params.totalMemory = 250.GB
params.singleCPUMem = 15.GB
params.max_memory = {params.totalMemory}
process.memory = {params.totalMemory}

// Fix for processes remapped to node queue by uppmax
// Can be removed when next version (>2.3.FIX1) is used
// and processes specifying less than max nr cpus but
// without using the 'core' queue
process {
  withName:ConcatVCF {
    queue = 'node'
  }
  withName:MergeBams {
    memory = {params.singleCPUMem * task.attempt}
    time = {params.runTime * task.attempt}
    queue = 'node'
  }
  withName:RunBcftoolsStats {
    cpus = 1
    queue = 'core'
  }
  withName:RunFastQC {
    cpus = 2 // FastQC is only capable of running one thread per fastq file.
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
    queue = 'core'
  }
  withName:RunGenotypeGVCFs {
    cpus = 1
    memory = {params.singleCPUMem}
    queue = 'core'
  }
  withName:RunMultiQC {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
    cpus = 1
    queue = 'core'
  }
  withName:RunSamtoolsStats {
    cpus = 1
    time = {params.runTime * task.attempt}
    queue = 'core'
  }
}
