params {
    project = "{{ item.project_id }}"
    multiqc_config = "{{ ngi_pipeline_conf }}/multiqc_{{ item.site }}_config.yml"
}

{% if item.site == "sthlm" %}
process {
    withName: 'multiqc|MultiQC|MULTIQC' {
        container = null
        executor = 'local'
    }
}
{% endif %}
