process {
    container = '{{ neutronstar_container_path }}/{{ neutronstar_image }}'
    executor = 'slurm'
    withName:multiqc {
        container = null
        executor = 'local'
    }
}
params {
    project = "{{ item.project_id }}"
    multiqc_config = "{{ ngi_pipeline_conf }}/multiqc_{{ item.site }}_config.yml"
    clusterOptions = "-A {{ item.project_id }} -p node"
    max_memory = 250.GB
    max_cpus = 16
    max_time = 240.h
    busco_folder = '/sw/apps/bioinfo/BUSCO/v2_lineage_sets'
    busco_data = 'eukaryota_odb9'

}
