process {
    container = '{{ neutronstar_container_path }}/{{ neutronstar_image }}'
    withName:multiqc {
        container = null
        executor = 'local'
    }
}
params {
    project = "{{ item.project_id }}"
    multiqc_config = "{{ ngi_pipeline_conf }}/multiqc_{{ item.site }}_config.yml"
    clusterOptions = "-A {{ item.project_id }} -p node"
    max_memory = 250.GB
}
